/* *{
    padding: 18px; 
} */
h1{
    padding: 18px;
}
nav{
    background-color: rgb(156, 24, 24);
}
nav a {
    color:white;
    padding: 30px;
    
}
nav a:hover{
    color: rgb(154, 148, 148);
    text-decoration: none;
}
body{
    background-color: #bed1e3;
}
.container{
    color: white;
    background-color: #012a4a;
    max-width: 80%;
    margin-top: 35px;
    padding: 20px;
}
.search_bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:0.4;
}
.confirmation{
    margin-top: 10px;
    padding:0px 18px;
    background-color: green;
    color:white;
}
.error{
    margin-top: 10px;
    padding:0px 18px;
    background-color: red;
    color:white;
}
.result {
    display: inline-block;
    width: 23.4%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
