*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    max-width:80%;
    padding:34px;
    margin:auto;

}
h1{
    padding: 18px;
}
nav{
    background-color: rgb(156, 24, 24);
}
nav a {
    color:white;
    padding: 30px;
    
}
nav a:hover{
    color: rgb(154, 148, 148);
    text-decoration: none;
}
input {
    margin: 12px 0px;
}
.signup_bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:0.4;
}
.alert {
    background-color: red;
    color: white;
    max-width: 80%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px 10px;
    border:none;
}
.msg {
    background-color: #55cc55;
    color: white;
    max-width: 80%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px 10px;
    border:none;
}